@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

/* ===== Live Animated Underline (Auto Width) ===== */

.live-line {
  position: relative;
  display: inline-block; /* 🔥 key for auto width */
  width: 100%; /* will follow parent */
  max-width: 160px; /* optional limit */
  height: 6px;
  background: #636462;
  border-radius: 999px;
  overflow: hidden;
}

.live-line-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: #FFDF20;
  border-radius: 999px;
  animation: slideLR 2.5s ease-in-out infinite alternate;
}

@keyframes slideLR {
  0% { left: 0%; }
  100% { left: 70%; }
}